@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --C_primary: #333;
  --C_black: #333;
  --C_primary_disabled: rgb(100 116 139);
  --C_white: #fff;
  --C_primary_hover: gray;
  --C_bg_danger: rgba(255, 36, 20, 0.1);
  --C_danger: #FF2414;
  --C_border_danger: #E25353;
  --C_black_lite: #000;
}

@font-face {
  font-family: aharoni;
  src: url('./assets/fonts/Aharoni/ahronbd.ttf');
}
@font-face {
  font-family: amasis;
  src: url('./assets/fonts/Amasis/Amasis\ MT\ Std\ Black.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: '', sans-serif;
}

.App {
  margin: 0;
  height:  100vh;
}

body::-webkit-scrollbar,
.App::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
 width: 7px;
 height: 20px;
}
body::-webkit-scrollbar-thumb,
.App::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb 
 {
 background: linear-gradient(to top, #333, var(--C_bg_danger));
}
body::-webkit-scrollbar-track,
.App::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
 /* background: #bbb; */
 width: 8px;
}
.leaflet-container {
  margin-top: 3em;
  width: 80%;
  height: 50vh;
}

@media screen and (min-width: 640px){
  .leaflet-container {
    margin-top: 3em;
    width: 80%;
    height: 65vh;
  }
}

.amasis {
  font-family: 'amasis', serif;
}

.aharoni {
  font-family: 'aharoni', serif;
}
.antonio {
  font-family: 'Antonio', sans-serif;
}
.philosopher{

  font-family: 'Philosopher', sans-serif;
}